
<div class="col-sm">
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">@CityData.Name <span class="h6">(Einw.:@CityData.Einwohner)</span></h5>
    <p class="card-text">
        <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Heute</th>
                <th scope="col">Diff.</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Aktive Fälle</th>
                <td>@CityData.Af</td>
                <td>@CityData.AfDif</td>
            </tr>
            <tr>
                <th scope="row">Neuinfektionen</th>
                <td>@CityData.Ni</td>
                <td>@CityData.NiDif</td>
            </tr>
            <tr>
                <th scope="row">Genesen</th>
                <td>@CityData.Gn</td>
                <td>@CityData.GnDif</td>
                
            </tr>
            <tr>
                <th scope="row">Vertorbene</th>
                <td>@CityData.Vs</td>
                <td>@CityData.VsDif</td>
            </tr>
        </tbody>
        </table>
    </p>
    <button class="btn btn-primary" @onclick="() => Details.Open(CityData)">Mehr Details</button>
  </div>
</div>
</div>

<DetailsDialog @ref="Details"/>

@code
{

    [Parameter] public CityData CityData {get;set;}
   public DetailsDialog Details {get;set;}
}